body {
  background-color: #c14040;
  color: white;

  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    font-size: 26px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vh;
    justify-content: center;
    margin: 1vh;

    .pokemon {
      border: 1px solid #ab3838;
      border-radius: 50px;
      background-color: #ab3838;
      padding: 10px;
      display: grid;
      justify-content: center;
      text-align: center;
      color: white;
      font-size: 2.5vh;

      img {
        width: 75%;
        justify-self: center;
      }
    }

    .pokemon:hover {
      transition: 0.5s;
      background-color: #8f2d2d;
    }
  }
}


/* Header */

.headerBar {
  background-color: #efe3e3;
  height: 10vh;
  border-radius: 2vh;
  color: #c14040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 1vh;
  padding: 0 2vh;
}

.headerBar p {
  font-size: 2.5vh;
}

.headerBar a {
  color: #c14040;
}

/*Page Pokemon*/

.flex {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-around;
}

.flex img {
  width: 35%;
  height: 100%;
  max-height: 300px;
  max-width: 300px;
}

aside {
  background-color: #ab3838;
  width: 60%;
  padding: 4vh 2vh 4vh 2vh;
  border-radius: 2vh;
}

aside p {
  margin-bottom: 4vh;
}

.type {
  margin-right: 1vh;
  padding: 1vh;
  border-radius: 1vh;
}

h3 {
  margin-top: 0;
}

.stats {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

ul {
  font-size: 2.5vh;
  line-height: 4vh;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.statNames {
  width: 20vw;
  min-width: 7em;
  height: auto;
}

.statValues {
  width: 10vw;
  height: auto;
}

.bars {
  padding-top: 0.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.progress-bg {
  border-radius: 0.8vh;
  background-color: #632b2b;
  width: 100%;
}

.progress-bar {
  border-radius: 0.8vh 0 0 0.8vh;
  background-color: white;
  height: 3vh;
  animation: progress 1s ease-in-out forwards;
}

@keyframes progress {
  0% {
    width: 0;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20vh 0 20vh;
}

footer p {
  text-align: center;
}

/* a {
  text-decoration: none;
  color: #efe3e3;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #efe3e3;
} */